.baul1 {
	height: 290px;
}

.ideas {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 1%;
}

.card-body {
	display: flex;
	flex-direction: column;
}

.card-body {
	.btn-primary {
		background-image: url(../multimedia/Fondos/naranja.png);
		border-color: map-get($botonera, nada);
		font-size: map-get($botonera, mediano);
		text-shadow: -5px 6px 4px black;
		background-size: 61%;
		background-repeat: no-repeat;
		background-position: top;
		padding: 17%;
		box-shadow: none;
		color: floralwhite;
		background-color: transparent;
		border-color: transparent;
	}

	.btn-primary:active {
		background-image: url(../multimedia/Fondos/lila.png);
		background-color: transparent;
		border-color: transparent;
		color: floralwhite;
		box-shadow: none;
	}
}