.baul__tabla {
	background-image: url("../multimedia/Fondos/papel.webp");
	background-repeat: repeat;
	font-size: 15px;
	@include tamano(100%,100%);

	li {
		font-weight: bold;
	}
	th {
		background-color: rgba(187, 243, 187, 0.267);
	}
	td {
		font-weight: bold;
		text-align: center;
		background-color: rgba(187, 243, 187, 0.267);
	}
}