.principal__productos {
	h2 {
		margin-top: 10px;
		margin-bottom: 30px;
		font-size: 30px;
		text-align: center;
	}
}

.todas__cajas {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box__titulo {
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.box {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.box__opcion {
	font-size: 15px;
	text-align: center;
	margin-left: 6%;
}

.box__img {
	border-radius: 30px;
}

.contenedor__Tablas {
	display: flex;
	align-items: center;
}

.categoria {
	text-align: center;
	font-size: 30px;
}

.tabla1__titulo {
	font-size: 25px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
}

.tablas {
	color: black;
	background-size: cover;
	font-size: 15px;
	@include tamano(100%,100%);
	ul {
		list-style: none;
	}
}

.tabla1__0a3 {
	@extend .tablas;
	background-image: url("../multimedia/Fondos/manchas.webp");
	
}

.tabla2__titulo {
	@extend .tabla1__titulo;
}

.tabla2__0a3 {
	@extend .tablas;
	background-image: url("../multimedia/Fondos/manchas.webp");
	
}

.tabla1__3a6 {
	@extend .tablas;
	background-image: url("../multimedia/Fondos/manchas.webp");
	
}

.tabla2__3a6 {
	@extend .tablas;
	background-image: url("../multimedia/Fondos/manchas.webp");
	
}

.tabla3__titulo {
	@extend .tabla1__titulo;
}

.tabla3__3a6 {
	@extend .tablas;
	background-image: url("../multimedia/Fondos/manchas.webp");
	
}

.tabla1__mas7 {
	@extend .tablas;
	background-image: url("../multimedia/Fondos/manchas.webp");
	
}

.tabla2__mas7 {
	@extend .tablas;
	background-image: url("../multimedia/Fondos/manchas.webp");
	
}

.tabla3__mas7 {
	@extend .tablas;
	background-image: url("../multimedia/Fondos/manchas.webp");
	
}