@media screen and (max-width:991px) {
	.dropdown-menu {
		width: 10%;
		margin-left: 10%;
	}

	.fotos {
		@include tamano(700px, 100%);
	}

	.contacto {
		width: 95% !important;
	}

	.container {
		max-width: 100%;
	}
}

@media screen and (max-width:768px) {
	.container {
		max-width: 100%;
	}

}

@media screen and (max-width: 576px) {
	.instagram {
		display: none;
	}

	.facebook {
		display: none;
	}

	.container {
		max-width: 100%;
	}

	footer {
		.pie__redes {
			display: flex;
			flex-direction: row;
			background-color: rgba(0, 0, 0, 0.774);
			border-radius: 30px;
			justify-content: center;
		}
	}

	.principal__foto {
		img {
			display: none
		}
	}

	.principal__video {
		width: 95%;
	}

	.principal__gif {
		img {
			border-radius: 30px;
			width: 106%;
		}
	}

	.fotos {
		@include tamano(400px, 100%);
	}
}

@media screen and (max-width: 321px) {

	.encabezado__logo img {
		width: 122%;
	}
}