.principal__presentacion {
	color: rgb(247, 234, 241);
	font-size: 15px;
	text-align: center;
	line-height: 30px;
	p{
		color:#580158;
	}
}
.parallax {
	background-image: url("../multimedia/Nosotros/jesi.jpg");
	min-height: 30%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.cubo {
	height: 500px;
	border-radius: 30px;
	margin-bottom: 5%;
}
.principal__trabajo {
	display: inline-block;
	color: rgb(247, 234, 241);
	font-size: 15px;
	text-align: center;
	line-height: 30px;
	p{
		color:#580158;
	}
}
.principal__fin {
	display: inline-block;
	color: rgb(247, 234, 241);
	font-size: 30px;
	text-align: center;
	p{
		color:#580158;
	}
}
.principal__gif {
	border-radius: 30px;
	display: flex;
	justify-content: center;
	padding: 5%;
	img {
		border-radius: 30px;
	}
}
