$gotas: url("../multimedia/Fondos/cubos.jpg");
$acua: url("../multimedia/Fondos/fondo1.jpg");
$botonera: (
	colores:(red, orange, green, cyan, blue, violet, red, ),
	nada :transparent,
	mediano :1.5rem,
);

@mixin tamano($ancho, $alto) {
	width: $ancho;
	height: $alto;
}

@import "catalogo";
@import "baul";

@import "index";
@import "nosotros";
@import "contacto";

* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
	font-family: 'Chelsea Market', cursive;

}

.container {
	max-width: 100%;
}

.encabezado {
	background-image: $gotas;
	overflow: visible;
	background-size: cover;
}

.encabezado__logo {
	margin-right: 0px;

	img {
		border-radius: 10px;
		animation-name: rotateInDownLeft;
		animation-duration: 3s;
	}
}

.navbar-toggler-icon {
	background-color: black;
}

.container-fluid {
	background-color: #000000ba;
	background-size: unset;
	border-radius: 30px;
}

.nav__checkbox {
	display: none;
}

.nav__toggle {
	display: none;
}

.dropdown-menu {
	background-image: #000000ba;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
	color: rgb(255, 255, 255);
}

.navbar-dark {
	.navbar-nav {
		.nav-link {
			color: white;
		}
	}
}

main {
	display: contents;
}

.principal {
	background-image: $acua;
	background-size: cover;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 4%;
	padding-bottom: 15%;

	.principal__titulo {
		margin-bottom: 7%;
	}
}

h1 {
	margin-top: 10px;
	margin-bottom: 30px;
	color: black;
	font-size: 30px;
	text-align: center;
	text-align: center;
	text-shadow: 4px 1px 20px #000000;
}

h2 {
	color: black;
	text-align: center;
	text-shadow: 4px 1px 20px #000000;
}

h3 {
	@extend h2
}

h4 {
	@extend h2
}

h6 {
	@extend h2
}

.principal__redes {
	margin: 10px 15px 10px 15px;
	padding: 5px 2.5px;
	background-color: rgba(22, 19, 19, 0.918);
	border: 2px;
	border-radius: 30px;
	border-color: rgba(59, 59, 58, 0.966);
	position: absolute;
	top: 150px;
	right: 5px;
	position: fixed;

	a {
		display: block;
	}
}

footer {
	display: flex;
	flex-direction: column;
	background-image: $gotas;
	background-size: 75%;
	align-items: center;
	padding: 2%;

	p {
		background-color: rgba(0, 0, 0, 0.664);
		color: rgb(247, 234, 241);
		text-align: center;
	}
}

.pie__redes {
	display: none;
}

@import "media";