/* Reseteo */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Chelsea Market', cursive;
}

/* ---------header------------------------------ */

.encabezado {
    background-image: url("../multimedia/Fondos/lluvia_textura.jpg");
    grid-area: encabezado;
    overflow: visible;
}
.encabezado__logo{
    margin-right: 0px;
}
.encabezado__logo img {
    border-radius: 10px;
    animation-name:rotateInDownLeft ;
    animation-duration: 3s;
}

.navbar-toggler-icon {
    background-color: black;
}
.nav__checkbox {
    display: none;
}

.nav__toggle {
    display: none;
}

.
a.nav-link.active {
    color: aliceblue;
  
}
.dropdown-menu {
    background-color: rgba(250, 250, 250, 0.377);
}


/*------------------ main---------------- */
main {
    display: contents;
}

.principal {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    grid-area: principal;
    padding: 10px;
}

.principal__titulo {
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(247, 234, 241);
    font-size: 30px;
    text-align: center;
    grid-area: titulo;
}
.principal__video{
    padding-bottom: 20px;
}

.principal__tabla {
    background-image: url(../multimedia/Fondos/manchas.webp);
    background-size: contain;
}

.principal__tabla td {
    text-align: center;
    text-decoration: none;
}

/* ---------Nosotros---------- */
.principal__nosotros {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: start;
/*     display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 1fr 0.8fr 0.2fr;
    grid-template-areas:
        "titulo titulo titulo"
        "texto1 texto1 imagen1"
        "imagen2 texto2 texto2"
        "texto3 texto3 texto3";
    gap: 20px;
    padding: 10px;*/
} 

.principal__foto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.principal__foto img {
    border-radius: 30px;
}

.principal__presentacion {
    color: rgb(247, 234, 241);
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.principal__trabajo {
    display: inline-block;
    color: rgb(247, 234, 241);
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.principal__fin {
    display: inline-block;
    color: rgb(247, 234, 241);
    font-size: 30px;
    text-align: center;
}

.principal__gif {
    border-radius: 30px;
    display: inline-block;
}

.principal__gif img {
    border-radius: 30px;
}

/* --------Catalogo---------- */
.principal__catalogo {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    overflow: hidden;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.principal__productos h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(247, 234, 241);
    font-size: 30px;
    text-align: center;
}
.todas__cajas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box__titulo {
    font-size: 20px;
    color: rgb(247, 234, 241);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box1 {
    display: inline-block;
    align-items:left ;
}

.box__opcion {
    font-size: 15px;
    color: rgb(247, 234, 241);
    text-align: left;
    margin-left: 20%;
}

.box1__img {
    border-radius: 30px;
}

.box1__pregunta a {
    display: none;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);
    z-index: 50;
}

.box1:hover .box1__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box__links a {
    font-size: 15px;
    color: rgb(247, 234, 241);
    text-decoration: none;
}

.box2 {
    display: inline-block;
    grid-area: box2;
}

.box2__img {
    border-radius: 30px;
}

.box2__pregunta a {
    display: none;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);
    z-index: 50;
}

.box2:hover .box2__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box3 {
    display: inline-block;
}

.box3__img {
    border-radius: 30px;
}

.box3__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box3:hover .box3__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box4 {
    display: inline-block;
    /*     position: relative;
    left: 100px; */
}

.box4__img {
    border-radius: 30px;
}

.box4__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box4:hover .box4__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box5 {
    display: inline-block;
}

.box5__img {
    border-radius: 30px;
}

.box5__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);
    ;
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box5:hover .box5__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box6 {
    display: inline-block;
}

.box6__img {
    border-radius: 30px;
}

.box6__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box6:hover .box6__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box7 {
    display: inline-block;
}

.box7__img {
    border-radius: 30px;
}

.box7__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box7:hover .box7__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box8 {
    display: inline-block;
}

.box8__img {
    border-radius: 30px;
}

.box8__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box8:hover .box8__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

/* ------listas_hst3------ */
.contenedor__Tablas {
    display: flex;
    align-items: center;
}

.categoria {
    text-align: center;
    font-size: 30px;
    color: rgb(247, 234, 241);
}

.tabla1__titulo {
    color: rgb(247, 234, 241);
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.tabla1__0a3 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla1__0a3 ul {
    list-style: none;
}

.tabla2__titulo {
    color: rgb(247, 234, 241);
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.tabla2__0a3 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla2__0a3 ul {
    list-style: none;
}

/* -----Listas_hst6---------------- */
.tabla1__3a6 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla1__3a6 ul {
    list-style: none;
}

.tabla2__3a6 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla2__3a6 ul {
    list-style: none;
}

.tabla3__titulo {
    color: rgb(247, 234, 241);
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.tabla3__3a6 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla3__3a6 ul {
    list-style: none;
}

/* --------------mas de 7---------------------- */
.tabla1__mas7 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla1__mas7 ul {
    list-style: none;
}

.tabla2__mas7 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla2__mas7 ul {
    list-style: none;
}

.tabla3__mas7 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla3__mas7 ul {
    list-style: none;
}

/* ------------Baul---------- */
.principal__baul {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    overflow: hidden;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baul__tabla {
    background-image: url("../multimedia/Fondos/papel.webp");
    background-repeat: repeat;
    font-size: 15px;
}

.baul__tabla li {
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 15px;
    font-weight: bold;
}

.baul__tabla td {
    font-weight: bold;
    text-align: center;
}

/* ------contacto--------- */
.contacto {
    display: inline-block;
    width: 400px;
    height: 450px;
    background-color: rgba(255, 127, 80, 0.418);
    padding: 15px;
    border-radius: 30px;
    margin: 50px;
    overflow: hidden;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.contacto__titulo {
    text-align: center;
    font-size: 20px;
    color: rgb(247, 234, 241);
    grid-area: contacto;
}

.formulario__checkbox {
    font-size: 13px;
}

.formulario__promo {
    font-size: 14px;
}

.btn_enviar {
    grid-area: enviar;
}

.btn_borrar {
    grid-area: borrar;
}

.formulario__botones input {
    display: inline;
    width: 100px;
    height: 40px;
}

/* -----boton redes y pie de pagina -----------------*/
.principal__redes {
    margin: 10px 15px 10px 15px;
    padding: 5px 2.5px;
    background-color: rgba(22, 19, 19, 0.918);
    border: 2px;
    border-radius: 30px;
    border-color: rgba(59, 59, 58, 0.966);
    position: absolute;
    top: 150px;
    right: 5px;
    position: fixed;
}

.principal__redes a {
    display: block;
}
.pie {
    display: flex;
    flex-direction: column;
    background-image: url("../multimedia/Fondos/lluvia_textura.jpg");
    grid-area: pie;
    padding-bottom: 12%;
    align-items: center;
}
.pie  p {
    background-color: rgba(0, 0, 0, 0.664);
    color: rgb(247, 234, 241);

    text-align: center;
}

.pie__redes {
    display: none;
}
@media  screen and (max-width: 500px) {
    .instagram{
        display: none;
    }
    .facebook {
        display: none;
    }
    .pie__redes{
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.774);
        border-radius: 30px;
        justify-content: center;
      }
      /* nosotros */
      .principal__foto {
        justify-content: center;
    }
}