/* Reseteo */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Chelsea Market', cursive;
}

/* ---------header------------------------------ */

.encabezado {
    background-image: url("../multimedia/Fondos/lluvia_textura.jpg");
    grid-area: encabezado;
    overflow: visible;
}
.encabezado__logo{
    margin-right: 0px;
}
.encabezado__logo img {
    border-radius: 10px;
    animation-name:rotateInDownLeft ;
    animation-duration: 3s;
}

.navbar-toggler-icon {
    background-color: black;
}
.nav__checkbox {
    display: none;
}

.nav__toggle {
    display: none;
}

.dropdown-menu {
    background-color: rgba(250, 250, 250, 0.959);
}


/*------------------ main---------------- */
main {
    display: contents;
}
.principal {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.principal__titulo {
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(247, 234, 241);
    font-size: 30px;
    text-align: center;
    grid-area: titulo;
}
.principal__video{
    padding-bottom: 20px;
}

.principal__tabla {
    background-image: url(../multimedia/Fondos/manchas.webp);
    background-size: contain;
}

.principal__tabla td {
    text-align: center;
    text-decoration: none;
}

/* ---------Nosotros---------- */
.principal__nosotros {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.principal__foto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.principal__foto img {
    border-radius: 30px;
}

.principal__presentacion {
    color: rgb(247, 234, 241);
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.principal__trabajo {
    display: inline-block;
    color: rgb(247, 234, 241);
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.principal__fin {
    display: inline-block;
    color: rgb(247, 234, 241);
    font-size: 30px;
    text-align: center;
}

.principal__gif {
    border-radius: 30px;
    display: inline-block;
}

.principal__gif img {
    border-radius: 30px;
}

/* --------Catalogo---------- */
.principal__catalogo {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    overflow: hidden;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.principal__productos h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(247, 234, 241);
    font-size: 30px;
    text-align: center;
}
.todas__cajas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box__titulo {
    font-size: 20px;
    color: rgb(247, 234, 241);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box__opcion {
    font-size: 15px;
    color: rgb(247, 234, 241);
    text-align: center;
    margin-left: 6%;
}

.box__img {
    border-radius: 30px;

}
.contenedor__Tablas {
    display: flex;
    align-items: center;
}

.categoria {
    text-align: center;
    font-size: 30px;
    color: rgb(247, 234, 241);
}

.tabla1__titulo {
    color: rgb(247, 234, 241);
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.tabla1__0a3 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla1__0a3 ul {
    list-style: none;
}

.tabla2__titulo {
    color: rgb(247, 234, 241);
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.tabla2__0a3 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla2__0a3 ul {
    list-style: none;
}

/* -----Listas_hst6---------------- */
.tabla1__3a6 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla1__3a6 ul {
    list-style: none;
}

.tabla2__3a6 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;;
}

.tabla2__3a6 ul {
    list-style: none;
}

.tabla3__titulo {
    color: rgb(247, 234, 241);
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.tabla3__3a6 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla3__3a6 ul {
    list-style: none;
}

/* --------------mas de 7---------------------- */
.tabla1__mas7 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla1__mas7 ul {
    list-style: none;
}

.tabla2__mas7 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla2__mas7 ul {
    list-style: none;
}

.tabla3__mas7 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.tabla3__mas7 ul {
    list-style: none;
}

/* ------------Baul---------- */
.principal__baul {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    overflow: hidden;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baul__tabla {
    background-image: url("../multimedia/Fondos/papel.webp");
    background-repeat: repeat;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.baul__tabla li {
    font-weight: bold;
    
}
.baul__tabla th{
    background-color: rgba(187, 243, 187, 0.267);
}
.baul__tabla td {
    font-weight: bold;
    text-align: center;
    background-color: rgba(187, 243, 187, 0.267);
    
}

/* ------contacto--------- */
.contacto {

    background-image:linear-gradient(rgba(236, 35, 78, 0.575), rgba(98, 0, 128, 0.616));
    padding: 5%;
    border-radius: 30px;
    overflow: hidden;
    color: antiquewhite;
}
/* -----boton redes y pie de pagina -----------------*/
.principal__redes {
    margin: 10px 15px 10px 15px;
    padding: 5px 2.5px;
    background-color: rgba(22, 19, 19, 0.918);
    border: 2px;
    border-radius: 30px;
    border-color: rgba(59, 59, 58, 0.966);
    position: absolute;
    top: 150px;
    right: 5px;
    position: fixed;
}

.principal__redes a {
    display: block;
}
.pie {
    display: flex;
    flex-direction: column;
    background-image: url("../multimedia/Fondos/lluvia_textura.jpg");
    grid-area: pie;
    padding-bottom: 12%;
    align-items: center;
}
.pie  p {
    background-color: rgba(0, 0, 0, 0.664);
    color: rgb(247, 234, 241);

    text-align: center;
}

.pie__redes {
    display: none;
}
@media  screen and (max-width: 500px) {
    .instagram{
        display: none;
    }
    .facebook {
        display: none;
    }
    .pie__redes{
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.774);
        border-radius: 30px;
        justify-content: center;
    }
      /* nosotros */
    .principal__foto {
        justify-content: center;
        width: 100%;
    }
    .principal__gif img {
        border-radius: 30px;
        width: 106%;
    }
}