/* Reseteo */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Chelsea Market', cursive;
}

/* ---------header------------------------------ */
.encabezado {
    background-image: url("../multimedia/Fondos/lluvia_textura.jpg");
}

.encabezado__logo img {
    border-radius: 10px;
    top: 0px;
}

.menu {
    display: block;/* orginal block */
    position: relative;
    width: 800px;
    top: 30px;
    left: 390px;
}

.menu li {
    display: inline-block;
}

.menu li:hover .submenu {
    display: block;
}

.menu li a {
    font-size: 15px;
    color: rgb(247, 234, 241);
    text-align: left;
    text-decoration: none;
    margin-right: 50px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 10px;
}

.submenu {
    background-color: black;
    border-radius: 10px;
    padding-bottom: 2px;
    position: absolute;
    display: none;
}

.submenu li {
    position: relative;
    display: block;
}

.submenu li:hover {
    background-color: gray;
    background-size: contain;
    border-radius: 10px;
}

.submenu li a {
    font-size: 15px;
    color: rgb(247, 234, 241);
    text-align: left;
    text-decoration: none;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px 5px;
    background-color: rgba(7, 7, 7, 0);
}

/*------------------ main---------------- */
.principal {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    background-size: contain;
    overflow: hidden;
}

.principal__titulo {
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(247, 234, 241);
    font-size: 30px;
    text-align: center;
}

.principal__video {
    margin: 5px 5px 100px 5px;
    padding: 5px;
    display: block;
    position: relative;
    left: 340px;
}

.principal__tabla {
    background-image: url(../multimedia/Fondos/manchas.webp);
    background-size: contain;
    display: inline-block;
    margin: 0px;
    position: relative;
    left: 380px;
    text-align: center;
    text-decoration: none;
}

.principal__tabla td {
    text-align: center;
    text-decoration: none;
}

/* ---------Nosotros---------- */
.principal__nosotros {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    background-size: contain;
    overflow: hidden;
    height: 1100px;
}

.principal__foto {

    display: inline-block;
    position: relative;
    top: 50px;
    left: 840px;
}

.principal__foto img {
    border-radius: 30px;
}

.principal__presentacion {
    color: rgb(247, 234, 241);
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -400px;
    width: 800px;
    padding: 10px;
    margin: 20px 150px 20px 0px;
    width: 800px;
    line-height: 30px;
}

.principal__trabajo {
    display: inline-block;
    color: rgb(247, 234, 241);
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -400px;
    left: 450px;
    margin: 20px 150px 20px 0px;
    width: 800px;
    line-height: 30px;
}

.principal__fin {
    display: inline-block;
    color: rgb(247, 234, 241);
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 70px;
    left: 0px;
    margin: 20px 150px 20px 0px;
    width: 850px;
}

.principal__gif {
    border-radius: 30px;
    display: inline-block;
    position: relative;
    top: -800px;
    left: 10px;
}

.principal__gif img {
    border-radius: 30px;
}

/* --------Catalogo---------- */
.principal__catalogo {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    background-size: contain;
    overflow: hidden;
    height: 1300px;
}

.de_0_a_3 {
    margin: 10px 0px 10px 110px;
    padding: 5px 0px 5px 290px;
    width: 900px;
}

.box1 {
    display: inline-block;
}

.box__titulo {
    font-size: 20px;
    color: rgb(247, 234, 241);
    text-align: center;
    position: relative;
}

.box__opcion {
    font-size: 15px;
    color: rgb(247, 234, 241);
    text-align: center;
}

.box1__img {
    border-radius: 30px;
    position: relative;
}

.box1__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box1:hover .box1__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box__links a {
    font-size: 15px;
    color: rgb(247, 234, 241);
    text-decoration: none;
    position: relative;
    left: 30px;
}

.box2 {
    display: inline-block;
    position: relative;
    left: 50px;
}

.box2__img {
    border-radius: 30px;
}

.box2__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);;
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box2:hover .box2__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.de_3_a_6 {
    position: relative;
    top: 100px;
    left: 100px;
    width: 970px;
    margin: 10px 0px 10px 100px;
    padding: 5px 0px 5px 0px;
}

.box3 {
    display: inline-block;
}

.box3__img {
    border-radius: 30px;
}

.box3__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);;
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box3:hover .box3__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box4 {
    display: inline-block;
    position: relative;
    left: 100px;
}

.box4__img {
    border-radius: 30px;
}

.box4__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);;
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box4:hover .box4__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box5 {
    display: inline-block;
    position: relative;
    left: 200px;
}

.box5__img {
    border-radius: 30px;
}

.box5__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);;
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box5:hover .box5__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.mas_de_7 {
    position: relative;
    top: 100px;
    left: 100px;
    width: 970px;
    margin: 30px 0px 10px 100px;
    padding: 5px 0px 5px 0px;
}

.box6 {
    display: inline-block;
}

.box6__img {
    border-radius: 30px;
}

.box6__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);;
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box6:hover .box6__pregunta a {
    display: inline;
    position: relative;
    top: -142px;

}

.box7 {
    display: inline-block;
    position: relative;
    left: 100px;
}

.box7__img {
    border-radius: 30px;
}

.box7__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);;
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box7:hover .box7__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

.box8 {
    display: inline-block;
    position: relative;
    left: 200px;
}

.box8__img {
    border-radius: 30px;
}

.box8__pregunta a {
    display: none;
    position: relative;
    font-size: 20px;
    padding: 113px 48px;
    background-color: rgba(128, 128, 128, 0.685);
    background-size: cover;
    border-radius: 30px;
    color: rgb(247, 234, 241);;
    z-index: 50;
    top: -254PX;
    right: 3px;
}

.box8:hover .box8__pregunta a {
    display: inline;
    position: relative;
    top: -142px;
}

/* ------listas_hst3------ */
.categoria {
    text-align: center;
    font-size: 30px;
    color: rgb(247, 234, 241);;
}

.tabla1__titulo {
    color: rgb(247, 234, 241);;
    font-size: 25px;
    position: relative;
    top: 150px;
    left: 310px;
    display: inline-block;
}

.tabla1__0a3 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla1__0a3 ul {
    list-style: none;
}

.tabla2__titulo {
    display: inline-block;
    color: rgb(247, 234, 241);;
    font-size: 25px;
    position: relative;
    top: 300px;
    left: 310px;
}

.tabla2__0a3 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla2__0a3 ul {
    list-style: none;
}

/* -----Listas_hst6---------------- */
.principal__lista_hst6 {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    background-size: contain;
    overflow: hidden;
    height: 1900px;
}

.tabla1__3a6 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla1__3a6 ul {
    list-style: none;
}


.tabla2__3a6 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla2__3a6 ul {
    list-style: none;
}

.tabla3__titulo {
    display: inline-block;
    color: rgb(247, 234, 241);;
    font-size: 25px;
    position: relative;
    top: 400px;
    left: 310px;
}

.tabla3__3a6 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla3__3a6 ul {
    list-style: none;
}

/* --------------mas de 7---------------------- */
.principal__lista_mas7 {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    background-size: contain;
    overflow: hidden;
    height: 1900px;
}

.tabla1__mas7 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla1__mas7 ul {
    list-style: none;
}


.tabla2__mas7 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla2__mas7 ul {
    list-style: none;
}

.tabla3__titulo {
    display: inline-block;
    color: rgb(247, 234, 241);;
    font-size: 25px;
    position: relative;
    top: 400px;
    left: 310px;
}

.tabla3__mas7 {
    color: black;
    background-image: url("../multimedia/Fondos/manchas.webp");
    background-size: cover;
    text-align: center;
    font-size: 15px;
    width: 750px;
    height: 400px;
}

.tabla3__mas7 ul {
    list-style: none;
}

/* ------------Baul---------- */
.principal__baul {
    background-image: url("../multimedia/Fondos/Blackboard_texture.jpg");
    background-size: contain;
    overflow: hidden;
    height: 1300px;
}

.baul__tabla {
    background-image: url("../multimedia/Fondos/papel.webp");
    background-repeat: repeat;
    font-size: 15px;
    position: relative;
    top: 20px;
    left: 250px;
}

.baul__tabla li {
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 15px;
    font-weight: bold;
}

.baul__tabla td {
    font-weight: bold;
    text-align: center;
}

/* ------contacto--------- */
.contacto {
    display: inline-block;
    width: 400px;
    height: 600px;
    background-color: rgba(255, 127, 80, 0.418);
    padding: 15px;
    border-radius: 30px;
    margin: 50px;
    overflow: hidden;
    position: relative;
    left: 425px;
}

.contacto__titulo {
    text-align: center;
    font-size: 20px;
    color: rgb(247, 234, 241);;
}

.formulario {
    display: inline;
}

.formulario div {
    padding: 10px;
}

.formulario__comentario {
    position: relative;
    left: 50px;
}

.formulario__checkbox {
    font-size: 13px;
}

.formulario__botones input {
    display: inline;
    position: relative;
    top: 25px;
    left: 100px;
    width: 100px;
    height: 40px;
}

/* -----boton redes y pie de pagina -----------------*/
.principal__redes {
    margin: 10px 15px 10px 15px;
    padding: 5px 2.5px;
    background-color: rgba(22, 19, 19, 0.918);
    border: 2px;
    border-radius: 30px;
    border-color: rgba(59, 59, 58, 0.966);
    position: absolute;
    top: 150px;
    right: 5px;
    position: fixed;
}

.principal__redes a {
    display: block;
}

.pie {
    background-image: url("../multimedia/Fondos/lluvia_textura.jpg");
}

.pie p {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.664);
    color: rgb(247, 234, 241);;
    font-weight: bold;
    text-align: center;
}