.principal__productos h2, .principal__productos h3, .principal__productos h4, .principal__productos h6 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center; }

.todas__cajas {
  display: flex;
  flex-direction: column;
  align-items: center; }

.box__titulo {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.box__opcion {
  font-size: 15px;
  text-align: center;
  margin-left: 6%; }

.box__img {
  border-radius: 30px; }

.contenedor__Tablas {
  display: flex;
  align-items: center; }

.categoria {
  text-align: center;
  font-size: 30px; }

.tabla1__titulo, .tabla2__titulo, .tabla3__titulo {
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px; }

.tablas, .tabla1__0a3, .tabla2__0a3, .tabla1__3a6, .tabla2__3a6, .tabla3__3a6, .tabla1__mas7, .tabla2__mas7, .tabla3__mas7 {
  color: black;
  background-size: cover;
  font-size: 15px;
  width: 100%;
  height: 100%; }
  .tablas tr, .tabla1__0a3 tr, .tabla2__0a3 tr, .tabla1__3a6 tr, .tabla2__3a6 tr, .tabla3__3a6 tr, .tabla1__mas7 tr, .tabla2__mas7 tr, .tabla3__mas7 tr {
    background-color: rgba(220, 108, 235, 0.753);
    display: flex;
    justify-content: space-evenly; }
    .tablas tr td ul, .tabla1__0a3 tr td ul, .tabla2__0a3 tr td ul, .tabla1__3a6 tr td ul, .tabla2__3a6 tr td ul, .tabla3__3a6 tr td ul, .tabla1__mas7 tr td ul, .tabla2__mas7 tr td ul, .tabla3__mas7 tr td ul {
      list-style: none;
      padding-left: 0; }

.tabla1__0a3 {
  background-image: url("../multimedia/Fondos/manchas.webp"); }

.tabla2__0a3 {
  background-image: url("../multimedia/Fondos/manchas.webp"); }

.tabla1__3a6 {
  background-image: url("../multimedia/Fondos/manchas.webp"); }

.tabla2__3a6 {
  background-image: url("../multimedia/Fondos/manchas.webp"); }

.tabla3__3a6 {
  background-image: url("../multimedia/Fondos/manchas.webp"); }

.tabla1__mas7 {
  background-image: url("../multimedia/Fondos/manchas.webp"); }

.tabla2__mas7 {
  background-image: url("../multimedia/Fondos/manchas.webp"); }

.tabla3__mas7 {
  background-image: url("../multimedia/Fondos/manchas.webp"); }

.baul1 {
  height: 290px; }

.ideas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.card {
  margin: 1%; }

.card-body {
  display: flex;
  flex-direction: column; }

.card-body .btn-primary {
  background-image: url(../multimedia/Fondos/naranja.png);
  border-color: transparent;
  font-size: 1.5rem;
  text-shadow: -5px 6px 4px black;
  background-size: 61%;
  background-repeat: no-repeat;
  background-position: top;
  padding: 17%;
  box-shadow: none;
  color: floralwhite;
  background-color: transparent;
  border-color: transparent; }

.card-body .btn-primary:active {
  background-image: url(../multimedia/Fondos/lila.png);
  background-color: transparent;
  border-color: transparent;
  color: floralwhite;
  box-shadow: none; }

.principal__titulo2 {
  font-size: 25px;
  text-align: center;
  padding: 4%;
  color: black;
  text-align: center;
  text-shadow: 4px 1px 20px #000000; }

.principal__video {
  padding-bottom: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .principal__video iframe {
    padding: 2%; }

.fotos {
  width: 800px;
  height: 100%; }

.principal__presentacion {
  color: #f7eaf1;
  font-size: 15px; }
  .principal__presentacion div .naranja, .principal__presentacion div .azul, .principal__presentacion div .rosa {
    background-image: url(../multimedia/Fondos/naranja.png);
    padding: 23%;
    background-repeat: no-repeat;
    background-size: 57%;
    background-position: center; }
    .principal__presentacion div .naranja p, .principal__presentacion div .azul p, .principal__presentacion div .rosa p {
      color: #6df5cf;
      font-size: 200%;
      position: relative;
      left: 4%;
      text-align: center;
      text-shadow: 0px 2px 2px black; }
  .principal__presentacion div .azul {
    background-image: url(../multimedia/Fondos/azul.png);
    padding: 30%;
    background-size: 70%; }
    .principal__presentacion div .azul p {
      color: #ff5959;
      left: 2%; }
  .principal__presentacion div .rosa {
    background-image: url(../multimedia/Fondos/rosa.png);
    padding: 27%;
    background-size: 80%; }
    .principal__presentacion div .rosa p {
      color: #00ff66;
      left: 10%; }

.parallax {
  background-image: url("../multimedia/Nosotros/nina.jpg");
  min-height: 30%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  padding: 5%; }
  .parallax p {
    line-height: 40px;
    background-color: #f0f8ff5e; }

.principal__trabajo div .verde, .principal__trabajo div .amarillo, .principal__trabajo div .azyros, .principal__trabajo div .rojo {
  padding: 23%;
  background-repeat: no-repeat;
  background-size: 57%;
  background-position: center;
  background-image: url(../multimedia/Fondos/verde.png);
  background-size: 72%; }
  .principal__trabajo div .verde p, .principal__trabajo div .amarillo p, .principal__trabajo div .azyros p, .principal__trabajo div .rojo p {
    color: #d93333;
    font-size: 200%;
    position: relative;
    left: 4%;
    text-align: center;
    text-shadow: 0px 2px 2px black; }

.principal__trabajo div .amarillo {
  background-image: url(../multimedia/Fondos/amarillo.png);
  background-size: 67%; }
  .principal__trabajo div .amarillo p {
    color: #6200ff;
    left: 11%; }

.principal__trabajo div .azyros {
  background-image: url(../multimedia/Fondos/azyros.png); }
  .principal__trabajo div .azyros p {
    color: #efff00;
    font-size: 167%;
    line-height: 50px;
    left: 7%; }

.principal__trabajo div .rojo {
  background-image: url(../multimedia/Fondos/rojo.png); }
  .principal__trabajo div .rojo p {
    color: #b4ff00;
    line-height: 50px;
    left: 7%; }

.principal__fin {
  display: inline-block;
  font-size: 30px;
  text-align: center; }
  .principal__fin p {
    color: black;
    text-align: center;
    text-shadow: 4px 1px 20px #000000; }

.principal__gif {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 5%; }
  .principal__gif img {
    border-radius: 30px;
    margin-top: 94px; }

form {
  justify-content: center; }
  form .contacto {
    background-image: url(../multimedia/Fondos/QmNN.gif);
    background-position: bottom;
    padding: 5%;
    border-radius: 30px;
    overflow: hidden;
    color: #fcff2b;
    text-shadow: 0px -1px 10px black;
    width: 56%; }
    form .contacto .botones {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      form .contacto .botones .btn {
        background-image: url(../multimedia/Fondos/naranja.png);
        border-color: transparent;
        font-size: 1.5rem;
        text-shadow: -5px 6px 4px black;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: top;
        padding: 7%;
        box-shadow: none;
        color: floralwhite; }
      form .contacto .botones .btn:active {
        background-image: url(../multimedia/Fondos/lila.png); }

.form-check-input {
  background-color: rgba(22, 22, 22, 0.2); }

.form-check-input:checked {
  background-color: rgba(0, 0, 0, 0); }

.form-control {
  background-color: rgba(0, 0, 0, 0.199);
  color: #fcff2b; }

.form-control:focus {
  color: #fcff2b;
  background-color: #13031833;
  border-color: #461e9336; }

.form-select {
  color: #fcff2b;
  background-color: rgba(0, 0, 0, 0.199);
  text-shadow: 1px 1px 4px black; }
  .form-select option {
    color: #fcff2b;
    background-color: #892be2c7;
    text-shadow: 1px 1px 4px black; }

.form-select:focus {
  border-color: #350f4066; }

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Chelsea Market', cursive; }

.container {
  max-width: 100%; }

.encabezado {
  background-image: url("../multimedia/Fondos/cubos.jpg");
  overflow: visible;
  background-size: cover; }

.encabezado__logo {
  margin-right: 0px; }
  .encabezado__logo img {
    border-radius: 10px;
    animation-name: rotateInDownLeft;
    animation-duration: 3s; }

.navbar-toggler-icon {
  background-color: black; }

.container-fluid {
  background-color: #000000ba;
  background-size: unset;
  border-radius: 30px; }

.nav__checkbox {
  display: none; }

.nav__toggle {
  display: none; }

.dropdown-menu {
  background-image: #000000ba; }

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: white; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

main {
  display: contents; }

.principal {
  background-image: url("../multimedia/Fondos/fondo1.jpg");
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 15%; }
  .principal .principal__titulo {
    margin-bottom: 7%; }

h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  color: black;
  font-size: 30px;
  text-align: center;
  text-align: center;
  text-shadow: 4px 1px 20px #000000; }

h2, h3, h4, h6 {
  color: black;
  text-align: center;
  text-shadow: 4px 1px 20px #000000; }

.principal__redes {
  margin: 10px 15px 10px 15px;
  padding: 5px 2.5px;
  background-color: rgba(22, 19, 19, 0.918);
  border: 2px;
  border-radius: 30px;
  border-color: rgba(59, 59, 58, 0.966);
  position: absolute;
  top: 150px;
  right: 5px;
  position: fixed; }
  .principal__redes a {
    display: block; }

footer {
  display: flex;
  flex-direction: column;
  background-image: url("../multimedia/Fondos/cubos.jpg");
  background-size: 75%;
  align-items: center;
  padding: 2%; }
  footer p {
    background-color: rgba(0, 0, 0, 0.664);
    color: #f7eaf1;
    text-align: center; }

.pie__redes {
  display: none; }

@media screen and (max-width: 991px) {
  .dropdown-menu {
    width: 10%;
    margin-left: 10%; }
  .fotos {
    width: 700px;
    height: 100%; }
  .contacto {
    width: 95% !important; }
  .container {
    max-width: 100%; } }

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%; } }

@media screen and (max-width: 576px) {
  .instagram {
    display: none; }
  .facebook {
    display: none; }
  .container {
    max-width: 100%; }
  footer .pie__redes {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.774);
    border-radius: 30px;
    justify-content: center; }
  .principal__foto img {
    display: none; }
  .principal__video {
    width: 95%; }
  .principal__gif img {
    border-radius: 30px;
    width: 106%; }
  .fotos {
    width: 400px;
    height: 100%; } }

@media screen and (max-width: 321px) {
  .encabezado__logo img {
    width: 122%; } }
